* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.button {
  background-color: rgba(70, 145, 101, 1);
  padding: 12px 16px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: 0px;
  border-radius: 4px;
}

/* নেভিগেশন বার এখানে শুরু  */
nav {
  display: flex;
  justify-content: space-around;
  padding: 16px 120px;
}

nav .navbar-links {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  max-width: 627px;
  max-height: 100px;
  align-items: center;
}

nav .navbar-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
/* নেভিগেশন বার এখানে শেষ   */

/* Banner start */
.Banner img {
  width: 100%;
  height: 100vh;
}

/* Banner End */
